body{
    font-family: 'PT Sans', sans-serif;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
}

.main{
    background-color: beige;
    width: 100%;
    margin: 0;
    -webkit-box-shadow: 6px 7px 13px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 7px 13px -4px rgba(0,0,0,0.75);
    box-shadow: 6px 7px 13px -4px rgba(0,0,0,0.75);
}