{%extends "layout.htm"%} {%block dependencies%}
<link rel="stylesheet" href="static/chat.css">
<script src="static/chat.js"></script>
{%endblock%} {%block title%} Xatroom {%endblock%} {%block body%}
<header class="row justify-content-center">
    <section class="col-12 heading">
        <h1>Sala name</h1>
    </section>
</header>
<main class="row mx-2 justify-content-center">
    <section id="main-pane" class="col-lg-6 col-12">
        <article class="msgs">

            <div class="in-msg">
                <div class="rec-msg">
                    <div class="rec-msg-w">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quos praesentium blanditiis cupiditate delectus atque expedita numquam omnis eum, veniam in quas dignissimos suscipit exercitationem? Modi libero quam beatae distinctio!</p>
                        <span class="msg-info">Jon Doe</span>
                    </div>
                </div>
            </div>

            <div class="out-msg">
                <div class="sent-msg">
                    <div class="sent-msg-w">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quos praesentium blanditiis cupiditate delectus atque expedita numquam omnis eum, veniam in quas dignissimos suscipit exercitationem? Modi libero quam beatae distinctio!</p>
                        <span class="msg-info">Jon Doe</span>
                    </div>
                </div>
            </div>

            <div class="out-msg">
                <div class="sent-msg">
                    <div class="sent-msg-w">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quos praesentium blanditiis cupiditate delectus atque expedita numquam omnis eum, veniam in quas dignissimos suscipit exercitationem? Modi libero quam beatae distinctio!</p>
                        <span class="msg-info">Jon Doe</span>
                    </div>
                </div>
            </div>

            <div class="out-msg">
                <div class="sent-msg">
                    <div class="sent-msg-w">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quos praesentium blanditiis cupiditate delectus atque expedita numquam omnis eum, veniam in quas dignissimos suscipit exercitationem? Modi libero quam beatae distinctio!</p>
                        <span class="msg-info">Jon Doe</span>
                    </div>
                </div>
            </div>

            <div class="in-msg">
                <div class="rec-msg">
                    <div class="rec-msg-w">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quos praesentium blanditiis cupiditate delectus atque expedita numquam omnis eum, veniam in quas dignissimos suscipit exercitationem? Modi libero quam beatae distinctio!</p>
                        <span class="msg-info">Jon Doe</span>
                    </div>
                </div>
            </div>

            <div class="in-msg">
                <div class="rec-msg">
                    <div class="rec-msg-w">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quos praesentium blanditiis cupiditate delectus atque expedita numquam omnis eum, veniam in quas dignissimos suscipit exercitationem? Modi libero quam beatae distinctio!</p>
                        <span class="msg-info">Jon Doe</span>
                    </div>
                </div>
            </div>

        </article>
        <article class="type-msg mx-1">
            <div class="input_msg row">
                <div class="col-11">
                    <input type="text" name="msg" class="write_msg" placeholder="Write a message">
                </div>
                <div class="col-1">
                    <button type="submit" class="msg_send_btn mt-1"> <i class="fa fa-paper-plane-o"></i> </button>
                </div>
            </div>
        </article>
    </section>

</main>

{%endblock%}