{%extends "layout.htm"%}

{%block dependencies%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<link rel="stylesheet" href="static/css/fontello.css">
<link rel="stylesheet" href="static/css/chat.css">
<script src="static/js/chat-fe.js"></script>
<script src="static/js/chat.js"></script>
{%endblock%} 

{%block title%} Xatroom: {{ room }} {%endblock%}

{%block body%}
<header class="mb-2">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <img src="static/img/firelack-ico.png" width="30" height="30" class="d-inline-block align-top mr-2" alt="">
        <span class="navbar-brand mb-0 h1">Firelack Xatrooms</span>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a href="#" id="navbarDropdown" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="icon-user-outline mr-1"></i>User: <span id="usrname">{{usrname}}</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a href="/" id="exit-btn"class="dropdown-item"><i class="icon-logout"></i>Exit room</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a href="#" id="navbarDropdown" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="icon-chat-empty mr-1"></i>Room: <span id="room-name">{{room}}</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {%if not users%}
                            <a href="#" class="dropdown-item">NO USERS YET</a>
                        {%else%}
                            {%for user in users%}
                                <a href="#" id="exit-btn"class="dropdown-item"><i class="icon-circle-notch mr-1"></i>{{user}}</a>
                            {%endfor%}
                        {%endif%}
                    </div>
                </li>
            </ul>
        </div>
        <!-- Navbar content -->
    </nav>
     <!-- 
    <section class="col-4">
        <a class="btn btn-danger" href="/" id="exit-btn">Exit room &times;</a>
    </section>
    <section class="col-8 heading">
        <h1>User: <span id="usrname">{{usrname}}</span> at room: <span id="room-name">{{ room }}</span></h1>
    </section>
    -->
</header>
<main class="row mx-2 justify-content-center">
    <section id="main-pane" class="col-lg-6 col-12">
        <article class="msgs" id="msgs">
            <!--
            <div class="in-msg">
                <div class="rec-msg">
                    <div class="rec-msg-w">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quos praesentium blanditiis cupiditate delectus atque expedita numquam omnis eum, veniam in quas dignissimos suscipit exercitationem? Modi libero quam beatae distinctio!</p>
                        <span class="msg-info">Jon Doe</span>
                    </div>
                </div>
            </div>

            <div class="out-msg">
                <div class="sent-msg">
                    <div class="sent-msg-w">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quos praesentium blanditiis cupiditate delectus atque expedita numquam omnis eum, veniam in quas dignissimos suscipit exercitationem? Modi libero quam beatae distinctio!</p>
                        <span class="msg-info">Jon Doe</span>
                    </div>
                </div>
            </div>

            <div class="notif">
                <span class="text-center user-notif">Jon Doe</span>
            </div>
        -->
        {% for message in messages %}
            {%if message.usr == usrname%}
                <div class="out-msg">
                    <div class="sent-msg">
                        <div class="sent-msg-w">
                            <p>{{message.msg}}</p>
                            <span class="msg-info">{{message.usr}}</span>
                        </div>
                    </div>
                </div>
            {%else%}
                <div class="in-msg">
                    <div class="rec-msg">
                        <div class="rec-msg-w">
                            <p>{{message.msg}}</p>
                            <span class="msg-info">{{message.usr}}</span>
                        </div>
                    </div>
                </div>
            {%endif%}
        {% endfor %}

        </article>
        <article class="type-msg mx-1">
            <div class="input_msg row">
                <div class="col-11">
                    <input type="text" id="msg-txt" name="msg" class="write_msg" placeholder="Write a message">
                </div>
                <div class="col-1">
                    <button type="submit" id="send-btn" class="msg_send_btn mt-1"> <i class="icon-paper-plane"></i> </button>
                </div>
            </div>
        </article>
    </section>

</main>

{%endblock%}