<!--
            <div class="out-msg">
                <div class="sent-msg">
                    <div class="sent-msg-w">
                        <p id={{message.msg_id}}>{{message.msg}}</p>
                        <span class="msg-info">{{message.usr}} | {{message.timest}}</span>
                    </div>
                </div>               
            </div>

            <div class="in-msg">
                <div class="rec-msg">
                    <div class="rec-msg-w">
                        <p id={{message.msg_id}}>{{message.msg}}</p>
                        <span class="msg-info">{{message.usr}} | {{message.timest}}</span>
                    </div>
                </div>
            </div>

            <div class="notif">
                <span class="text-center user-notif">Jon Doe</span>
            </div>
        -->